*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage/*
!/public/storage/.gitignore
!/public/storage/gigs/images/07umt8kDA5UcfgTA7QUUtf2u4cLlsYcUaptdw3Q4.jpg
!/public/storage/gigs/images/christopher-gower-m_HRfLhgABo-unsplash.jpg
!/public/storage/gigs/images/michal-parzuchowski-Nh4Sxasye24-unsplash.jpg
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
