*
!.gitignore

# Allow specific seeder images
!gigs/images/07umt8kDA5UcfgTA7QUUtf2u4cLlsYcUaptdw3Q4.jpg
!gigs/images/christopher-gower-m_HRfLhgABo-unsplash.jpg
!gigs/images/michal-parzuchowski-Nh4Sxasye24-unsplash.jpg